<div class="flex h-40 items-center px-16 cursor-pointer hover:bg-primary" 
    routerLink="router-params"
    routerLinkActive="bg">
    Router params
</div>

<div class="flex h-40 items-center px-16 cursor-pointer hover:bg-primary" 
    routerLink="control-flow-syntax/json"
    routerLinkActive="bg">
    Control Flow Syntax
</div>

<div class="flex h-40 items-center px-16 cursor-pointer hover:bg-primary" 
    routerLink="input-decorators"
    routerLinkActive="bg">
    Input decorators
</div>

<div class="flex h-40 items-center px-16 cursor-pointer hover:bg-primary" 
    routerLink="dynamic-component-outlet"
    routerLinkActive="bg">
    Dynamic component outlet
</div>

<div class="flex h-40 items-center px-16 cursor-pointer hover:bg-primary" 
    routerLink="composition-api"
    routerLinkActive="bg">
    Compositon api
</div>