:root {
    --app-theme-primary: #F5F4EB;
    --app-theme-on-primary: #1B1C18;
  
    --app-theme-primary-variant: #C5EAE7;
    --app-theme-on-primary-variant: #00201F;
  
    --app-theme-secondary: #496727;
    --app-theme-on-secondary: #FFFFFF;

    --app-theme-background: #FEFCF6;
    //--app-theme-on-background: var(--site-on-background);

    --app-theme-background-variant: #F5F4EB;

    /*
    --app-theme-secondary-variant: var(--site-secondary-variant); 
  
    --app-theme-background-variant: var(--site-background-variant);
    --app-theme-on-background-variant: var(--site-on-background-variant);
    
    --app-theme-surface: var(--site-surface);
    --app-theme-on-surface: var(--site-on-surface);
  
    --app-theme-error: var(--site-error);
    --app-theme-on-error: var(--site-on-error);
  
    --app-theme-error-variant: var(--site-error-variant);
    --app-theme-on-error-variant: var(--site-on-error-variant);
    */
}